.stock-container{
    background-color: #444 ;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content:center;
    color: rgb(238, 238, 13);
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.remove-stock-button{
    background-color: #444;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color:rgb(238, 238, 13);
    cursor: pointer;
}